<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue - Dischi</title>
		<!-- Fontawesome CDN-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		/>
		<!-- google fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
			rel="stylesheet"
		/>
		<!-- custom CSS -->
		<link rel="stylesheet" href="css/style.css" />
		<!-- axios -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
		<!-- Vue.js v2.6.12 -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body class="primary">
		<div id="app">
			<!-- HEADER -->
			<header class="secondary">
				<div class="logo"><img src="img/download.png" alt="Spotify - Logo" /></div>
			</header>
			<!-- HEADER ENDS -->

			<!-- MAIN -->
			<main>
				<!-- filters -->
				<div class="filters">
					<select
						name="genre"
						id="genre"
						aria-label="Filter by genre"
						v-model="filteredGenre"
					>
						<option value="all" selected="selected">Tutti i Generi</option>
						<option v-for="genre in genres" :value="genre" v-model="filteredGenre">
							{{genre}}
						</option>
					</select>
				</div>
				<!-- filters end -->

				<!-- albums container -->
				<div class="albums">
					<!-- single album card -->
					<div
						v-if="album.genre == filteredGenre || filteredGenre == 'all'"
						class="album-card secondary"
						v-for="album in albums"
					>
						<div class="album-cover">
							<img :src="album.poster" :alt="`${album.title} - Cover`" />
						</div>
						<div class="album-title">{{album.title}}</div>
						<div class="album-author txt-gray">{{album.author}}</div>
						<div class="album-rel-year txt-gray">{{album.year}}</div>
					</div>
					<!-- single album card ends-->
				</div>
				<!-- album container ends -->
			</main>
			<!-- MAIN ENDS -->
		</div>

		<!-- custom JS -->
		<script src="js/script.js"></script>
	</body>
</html>
